@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');

:root {
    --vtsgreen: #80aa91;
    --vtslightgreen: #95c1a7;
    --vtslightergreen: #bcd8c7;
    --vtsdarkgreen: #5f8871;
}

.bg-vtsgreen {
    background-color: var(--vtsgreen);
}
.bg-vtslightgreen {
    background-color: var(--vtslightgreen);
}
.bg-vtsdarkgreen {
    background-color: var(--vtsdarkgreen);
}

body {
    min-height: 100vh;
}